<template>
  <v-app id="namiga67" dark>
    <!-- 상단 타이틀바 -->
    <k-nav
      color="primary"
      :auth="isAuth"
      :tabs="tabs"
      :isdark="isDark"
      v-model="currentTab"
      @side="e => {sideChanged(e)}"
      @menu-click="isSide = !isSide"
      @login-click="isLogin = true"
      @logout-click="logOut"
      @close-tab="tabClose"
      @dark-change="v=>{isDark = v}"
    ></k-nav>

    <!-- 왼쪽 사이드바(프로그램메뉴전용) -->
    <k-sidebar
      :show="isSide"
      :menu="menuItems"
      @side-changed="v=>{isSide = v}"
      @menu-selected="menuSelect"
    ></k-sidebar>

    <!-- 컨텐츠 영역 -->
    <v-content>
      <v-container fluid fill-height>
        <template v-if="isLogin">
          <v-layout justify-center align-center>
            <k-login v-if="isLogin" @login-result="loginResult"></k-login>
          </v-layout>
        </template>
        <template v-else>
          <v-tabs-items v-model="currentTab">
            <v-tab-item v-for="tab in tabs" :value="`${tab.pgmid}`" :key="tab.pgmid">
              <component :is="tab.pgmid"></component>
            </v-tab-item>
          </v-tabs-items>
        </template>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import KNav from "./components/core/KNav.vue";
import KSidebar from "./components/core/KSidebar.vue";
import KLogin from "./components/core/KLogin.vue";

export default {
  components: { KNav, KSidebar, KLogin },
  data: () => ({
    isAuth: false, // 인증여부
    isDark: false,
    isSide: false, // 사이드메뉴 오픈여부
    isLogin: false, // 로긴창 오픈여부
    menuItems: [],  // 사이드바 메뉴(tree)
    tabs: [],       // 오픈된 프로그램 리스트
    currentTab: '', // 현재 선택된 탭
    comp: "sys0000"
  }),
  props: {
    source: String
  },
  methods: {
    init() {
      this.currentTab = null
      this.tabs = []
    },
    // 로그아웃
    logOut() {
      this.isAuth = false;
    },
    // 로그인 인증결과
    loginResult(data) {
      this.isLogin = false; // 로긴폼 닫기
      if (!data.success) {
        this.isAuth = false;
      } else {
        this.isAuth = true;
        this.$api
          .getMenu()
          .then(data => {
            this.menuItems = data.menu;
            this.init()
          })
          .catch(err => {
            console.error(err);
          });
      }
    },
    menuSelect(item) {
      this.isSide = false;
      item.pgmid = item.pgmid.toLowerCase();
      let tab = this.tabs.find(function(tab){ return tab.pgmid == item.pgmid})
      if (tab) {
        this.currentTab = tab.pgmid
      } else {
        this.tabs.push(item)
        this.currentTab = item.pgmid
      }
    },
    tabClose(i){
      this.tabs.splice(i, 1)
    }
  }
};
</script>