<template>
  <span>{{ now }}</span>
</template>

<script>
// moment사용한 날짜/시간 출력보강
export default {
  name: "KClock",
  props: {
    mode: {   // 출력할 포맷 번호(부모가 지정)
      type: Number,
      default: 0,
      validator(value) {
        return value > -1 && value < 6
      },
    }
  },
  data() {
    return {
      // 포맷종류
      modes: ["YYYY/MM/DD dd hh:mm:ss", "MM월DD일(dd) hh:mm", "YYYY/MM/DD", "hh:mm:ss", "MM월DD일(dd)", "A h:mm"],
      now: "",
      interval: ""
    };
  },
  computed: {
    modeIndex() {
      return this.mode
    }
  },
  methods: {
    // 1초마다 호출되는 함수
    time() {
      this.now = this.$moment().format(this.modes[this.modeIndex]);
    }
  },
  mounted() {
    this.interval = setInterval(this.time, 1000);
  },
  beforeDestroy() {
    clearInterval(this.interval);
  }
};
</script>
