<template>
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dense>
                <v-toolbar-title>KIMS LOGIN</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field prepend-icon="email" name="email" label="이메일" type="text" :value="email"></v-text-field>
                  <v-text-field
                    id="password"
                    prepend-icon="lock"
                    name="password"
                    label="암호"
                    type="password"
                    :value="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="logon">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
</template>

<script>
export default {
  data: () => ({
    email: '',
    password: ''
  }),

  props: {
  },

  methods: {
    logon() {
      this.$api.login(this.email, this.password)
        .then((res) => {
          this.$emit('login-result', res)
        })
        .catch((err) => {
          this.$emit('login-result', {success:false, message:err})
        })
    }
  }
};
</script>