<template>
  <div>
    <v-toolbar app fixed dense tabs>
      <!-- 메뉴활성화 버튼은 인증사용자에게만 보임 -->
      <v-toolbar-side-icon v-if="isAuth" @click.stop="$emit('menu-click')"></v-toolbar-side-icon>
      <!-- 시스템명 -->
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <span>KIMS</span>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <!-- 현재시간 표시용(클릭시 날짜,시간 포맷변경) -->
      <v-btn depressed color="lighten-1'" @click="changeClock">
        <k-clock :mode="clockMode"></k-clock>
      </v-btn>
      <!-- 전체화면 확대/축소버튼(인증사용자에게만 보임) -->
      <template v-if="isAuth">
        <v-layout>
        <v-btn icon @click="toggleScreen">
          <v-icon>{{ isFull ? 'fas fa-compress' : 'fas fa-expand' }}</v-icon>
        </v-btn>
        <v-switch
          label="dark"
          :value="isdark"
          @input="v=>{$emit('dark-change', v)}"
          style="width:30px"
        ></v-switch>
        </v-layout>
      </template>
      <!-- 로긴/로그아웃 버튼 -->
      <v-btn icon @click="$emit(isAuth ? 'logout-click' : 'login-click')">
        <v-icon>{{ isAuth ? 'fas fa-sign-out-alt' : 'fas fa-sign-in-alt' }}</v-icon>
      </v-btn>

      <v-tabs
        slot="extension"
        v-model="currentTab"
        color="darken-1"
        show-arrows
        next-icon="fas fa-caret-right"
        prev-icon="fas fa-caret-left"
        v-if="auth && tabs.length > 0"
      >
        <v-tab
          v-for="(tab, i) in tabs"
          :key="i"
          :href="`#${tab.pgmid}`"
          @mouseover="mouseoverTab = tab.pgmid"
          @mouseout="mouseoverTab = ''"
        >
          <span dark>{{ tab.title }}</span>
          <v-icon v-if="activetab == tab.pgmid || mouseoverTab == tab.pgmid" small class="ml-1" @click.stop="$emit('close-tab', i)">fas fa-times</v-icon>
          <div v-else style="margin-left:15px"></div>
        </v-tab>
      </v-tabs>
    </v-toolbar>
  </div>
</template>

<script>
import KClock from "./KClock.vue";

export default {
  name: "KNav",
  components: { KClock },
  props: {
    color: {
      type: String,
      default: "primary"
    },
    auth: {
      // 인증여부는 부모로부터 받음
      type: Boolean,
      default: false
    },
    tabs: Array,  // 메인 탭
    activetab: String,
    isdark: Boolean
  },
  model: {
    prop: 'activetab'
  },
  data() {
    return {
      isFull: false, // 전체화면 여부
      clockMode: 0, // 시간표시용 현재포맷번호
      clockModeLength: 6, // 시간표시용 포맷 종류수
      mouseoverTab: ''
    };
  },
  computed: {
    isAuth() {
      return this.auth;
    },
    currentTab: {
      get() { return this.activetab },
      set(v) { this.$emit('input', v) }
    }
  },
  watch: {
    currentTab(val) {
      this.$emit('input', val)
    }
  },
  methods: {
    // 현재시간 포맷변경
    changeClock() {
      this.clockMode =
        this.clockMode + 1 >= this.clockModeLength ? 0 : this.clockMode + 1;
    },
    // 전체화면 확대/축소 완료시 호출됨
    onScreenChanged() {
      // 확대/축소여부 확인
      this.isFull = document.fullscreenElement ? true : false;
    },
    // 전체화면 전환 (인테넷서 빌려옴 ㅠ.ㅠ)
    launchFullscreen() {
      const element = document.documentElement;
      if (element.requestFullscreen) {
        element.requestFullscreen();
      } else if (element.mozRequestFullScreen) {
        element.mozRequestFullScreen();
      } else if (element.webkitRequestFullscreen) {
        element.webkitRequestFullscreen();
      } else if (element.msRequestFullscreen) {
        element.msRequestFullscreen();
      }
    },
    // 전체화면 종료
    exitFullscreen() {
      if (document.exitFullscreen) {
        document.exitFullscreen();
      } else if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen();
      } else if (document.webkitExitFullscreen) {
        document.webkitExitFullscreen();
      }
    },
    // 전체화면 전환 토글함수
    toggleScreen() {
      this.isFull ? this.exitFullscreen() : this.launchFullscreen();
    },
    tabOver(e) {
      this.mouseoverTab = e.pgmid
    },
    tabOut(e) {
      this.mouseoverTab = ''
    }
  },
  mounted() {
    // 전체화면이 전환 이벤트 리스너
    this.$nextTick(() => {
      window.addEventListener("fullscreenchange", this.onScreenChanged);
    });
  }
};
</script>

<style scoped>
.v-tabs__container {
  height: 30px;
}
</style>
