<template>
  <v-navigation-drawer :value="show" @input="v =>{$emit('side-changed',v)}" temporary app>
    <v-toolbar flat>
      <v-list>
        <v-list-tile>
          <v-list-tile-title class="title">Menu</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-toolbar>

    <v-divider></v-divider>

    <v-treeview
      :items="menu"
      activatable
      :active.sync="active"
      item-key="menuid"
      item-text="title"
      open-on-click
      transition
    >
      <template slot="prepend" slot-scope="{ item, open, leaf }">
        <v-icon v-if="!item.pgmid">{{ open ? 'fas fa-folder-open' : 'fas fa-folder' }}</v-icon>
        <v-icon v-else>fas fa-bolt</v-icon>
      </template>
    </v-treeview>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "KSidebar",
  components: {},
  props: {
    show: Boolean,
    menu: Array
  },
  data() {
    return {
      active: []
    };
  },
  watch: {
    active(val) {
      if (val.length > 0) {
        let item = this.findMenu(this.menu, val[0]);
        if (item) this.$emit("menu-selected", item);
      }
    }
  },
  methods: {
    findMenu(node, id) {
      if (node.menuid == id) return node;
      for (let i = 0; i < node.length; i++) {
        if (node[i].menuid == id) return node[i]
        if (!node[i].children) continue
        let result = this.findMenu(node[i].children, id);
        if (result) return result
      }
      return null;
    }
  }
};
</script>
