<template>
  <div class="ml-2">
    <v-layout align-start @click="open=!open">
      <v-icon v-if="data.children" size=20>{{ open ? 'fas fa-folder-open' : 'fas fa-folder' }}</v-icon>
      <v-icon v-else>fas fa-bolt</v-icon>
      <span class="subheading ml-1">{{ label }}</span>
    </v-layout>
    <div v-show="open">
    <k-tree-item
      v-for="item in items"
      :items="item.children"
      :label="item.title"
      :data="item"
      :key="item.menuid"
    ></k-tree-item>
    </div>
  </div>
</template>
  
<script>
export default {
  name: "KTreeItem",
  props: ["label", "items", 'data'],
  data() {
    return {
      open: false
    }
  }
}
</script>
