<template>
  <div class="ma-1">
    <div>{{ title }}</div>
    <k-tree-item
      v-for="item in items"
      :items="item.children"
      :label="item.title"
      :data="item"
      :key="item.menuid"
    ></k-tree-item>
  </div>
</template>

<script>
import KTreeItem from './KTreeItem.vue'

export default { 
  name: 'KTree',
  props: [ 'title', 'items' ],
  components: { KTreeItem },
  data() {
    return {
      open: false
    }
  }
}
  
</script>
